// Variables

// Colours
$light-grey: #ccc;
$text-color: #222;
$teal: #00bbbb;
$teal-dark: #004545;
$lila: #CDB5CD;
$white: #fff;


// Fonts 
$roboto: 'Roboto', sans-serif;
$lobster: 'Lobster', cursive;